.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.like-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.like-item {
  width: 200px;
  height: 400px;
}

.like-poster {
  width: 200px;
  height: 150px;
}

.like-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.like-desc {
  /* width: 200px; */
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
}
