* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
button {
  background-color: #fff;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 1000px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.movie-list-nav {
  display: flex;
  justify-content: flex-end;
  margin: 10px 85px;
}
.movie-list-nav > button:first-child {
  margin-right: 20px;
}

.selected-btn {
  border-bottom: 2px solid #f00;
}
.movie-list {
  /* width: 1000px; */
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.movie-item {
  width: 200px;
  height: 400px;
}

.movie-poster {
  width: 200px;
  height: 150px;
}

.movie-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-desc {
  /* width: 200px; */
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
}

.page-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.page-number {
  padding: 10px;
  cursor: pointer;
}
