* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
button {
  background-color: #fff;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movie-list {
  width: 1000px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.movie-item {
  width: 200px;
  height: 400px;
}

.movie-poster {
  width: 100%;
}

.movie-desc {
  width: 200px;
  height: 100px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.page-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.page-number {
  padding: 10px;
  cursor: pointer;
}
